@import "tailwindcss";

@theme {
  --font-family-sans: 'Inter', sans-serif;
  --color-primary: #1E40AF;
  --color-primary-dark: #1d3a8a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
  -webkit-font-smoothing: antialiased;
}